body {
    font-family: "Arial";
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.directory-nav {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.phone-book-section {
    display: inline-block;
    width: 650px;
    min-height: 650px;
}

/* tabs */
.navbar li {
    display: inline-block;
    margin-right: 15px;

}

.navbar ul {
    padding: 0;
}

/*forms and input tag*/
form span {
    display: block;
}

form input {
    display: block;
    margin-top: 15px ;
    margin-bottom: 15px;
    line-height: 2;
}

.input-txt {
    width: 600px;

}

/*search*/
.search-input {
    width: 541px;
    line-height: 2;

}

.search-btn {
    line-height: 2;
}

/*nav tabs*/
.panel {
    display: none;
}


.active {
    display: block;
}



#defaults {
    color: #ff0000;
}

/*tables*/
#contactsTable {
    text-align: center;
    border-bottom: solid;
    border-width: 1px;
}

table {
    width: 100%;
    text-align: center;
    border: solid;
    border-width: 1px;
}

th {
    background-color: black;
    color: white;
}
tr:nth-child(odd) {
    background-color: lightgrey;
}

ul {
    list-style: none;
    padding-left: 10px;
}

.directory-nav a , nav a{
    color: black;
    text-decoration: none;
}

.directory-nav a:hover , nav a:hover {
    text-decoration: underline;
}

