body {
    font-family: "Arial";
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    background-color: lightblue;
    border: solid;
    border-width: 1px;
    border-color: darkred;
}

h2 {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: cursive;
}

.phone-book-section {
    width: 100%;
    min-height: 750px;
}

nav {
    border: 1px solid darkred;
    border-left: none;
    border-right: none;
}

/* tabs */
.navbar li {
    display: inline-block;
    margin-right: 15px;
}

.navbar ul {
    padding: 0;
}

.up-arrow {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.search-li {
    float: right;
    margin-top: 7px;
}

a {
    color: black;
    text-decoration: none;
    font-family: cursive;
}

a:hover {
    color: white;
    text-decoration: underline;
}

/*search*/
.search-input {
    width: 200px;
    line-height: 2;
}

.search-btn {
    line-height: 2;
    color: darkblue;
    font-weight: 700;
}

h3 {
    text-align: center;
    text-decoration: underline;
    color: blue;
    text-transform: uppercase;
    font-family: cursive;
}

/*forms and input tag*/
#addGroup span, #createContactForm span {
    display: block;
}

#addGroup input, #createContactForm input {
    display: block;
    margin-top: 15px ;
    margin-bottom: 15px;
    line-height: 2;
}

.input-txt {
    width: 600px;

}

.search-li {
    float: right;
    margin-top: 7px;
}

#createContactBtn, #submitAddGroup {
    font-weight: bold;
    font-size: 18px;
    margin: 25px auto;
    width: 200px;
    height: 45px;
    display: block;
}

#addNumber {
    height: 45px;
    width: 45px;
    font-size: 22px;
    font-weight: bold;
}

/* group explorer */
ul {
    list-style: none;
    /*padding-left: 10px;*/
}

.remove-item {
    float: right;
}

#groupView img, #searchResult img {
    margin: 15px;
    vertical-align: middle;
}

#groupView li:nth-child(odd), #searchResult li:nth-child(odd) {
    background-color: #666666;
}

#groupView li:nth-child(even), #searchResult li:nth-child(even) {
    background-color: #D4D7FE;
}

#groupView ul, #searchResult ul {
    padding: 0;
}

/* Groups and Contacts */
.add-group-tab {
    width: 650px;
    margin: 0 auto;
}

.add-contact-tab {
    width: 650px;
    margin: 0 auto;
}

/*show contact*/
#showContact h3 {
    text-decoration: underline;
    color: blue;
}

#showContact img {
    vertical-align: middle;
    margin: 15px;
}

#showContact ul {
    padding: 0;
}

#showContact li {
    text-align: center;
}

#showContact li:nth-child(odd) {
    background-color: #666666;
}

#showContact li:nth-child(even) {
    background-color: #D4D7FE;
}

.empty {
    text-align: center;
    color: red;
    font-size: 40px;
}

/******* modal section ******/
.screen, .modal {
    position: fixed;
}

.screen {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background: rgba(0,0,0,0.35);
    z-index: 1;
}

.modal {
    width: 33.333%;
    top: 20%;
    left: 33.3333%;
    background: darkred;
    z-index: 2;
    text-align: center;
}

.modal button {
    margin: 15px;
    padding: 5px;
    background-color: cornflowerblue;
    font-size: large;
    font-family: cursive;
    width: 55px;
}

.modal button:hover {
    color: white;
}